MUSIC_PATH=[the position of music config file]
MUSIC_FILE=[music config file name]
NOTICE_FILE=[the notice file to be read]
SCREEN_SCALE=[preview to home screen ratio]
HEADER_HEIGHT=[height of the title (in px)]
SERVICE_PORT=[HTTP server port]
LIVE_ID=[listened live room id]
LIVE_SESSDATA=[SESSDATA ley in cookies]